# dependencies
/node_modules

# production
/build
/dist

# IDE/Editor
/.idea
/.vscode

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# ESLint cache
.eslintcache

# macOS
.DS_Store

# Testing
/coverage
